@charset "utf-8";

.el-header {
    padding:0px 2% 0px 2%;
    margin: 2% 5% 2% 5%;
}
.el-main {
    padding:0px 0px 0px 0px ;
    margin: 0px 5% 0px 5%;
}
.el-menu{
    margin:0px 0px 2% 0px;
}
.el-menu-item{
    font-size:large;
    padding-right: 50px;
}
.el-footer {
    text-align: center;
    background-color:rgb(78, 78, 78);
    color: white;
    padding: 0px;
}
.card{
    margin: 0px 0px 2% 0px;
    padding:2% 2% 2% 2%;
    border-style: solid;
    border-color: lightgray;
}
#intro_text{
    font-family: 微软雅黑;
}
#intro_text_p1{
    font-size:x-large;
    line-height: 100%;
    padding: 0px 5% 0px 5%;
}
#intro_text_p2{
    text-indent: 2em;
    font-size: large;
    line-height: 200%;
    padding: 0px 5% 0px 5%;
}   
.subtitle{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2%;
    font-family: 楷体;
} 
.subsubtitle{
    text-align: center;
    font-size: x-large;
    margin-bottom: 2%;
    font-family: 楷体;
} 
.research_author{
    text-align: end;
}
.tutor_photo{
    padding: 0% 10% 2% 10%;
}
.short_intro{
    padding: 0% 0% 0% 10%;
    font-family: 微软雅黑;
    
}
.tutor_name{
    font-size: xx-large;
    margin: 0% 5% 0% 0%;
    font-family: 楷体;
    font-weight: bold;
}
.tutor_title{
    font-size: large;

}
.name_title{
    margin: 0% 0% 5% 0%;
}
.tutor_research_interest{
    font-size: large;
}
.interest_list{
    margin: 5% 0% 0% 0%;
    padding-left: 1em;
}
.interest_list_item{
    margin: 2% 0 0 0;
}
.tutor_intro{
    padding:0% 0% 0% 5%;
}
.member_card{
    width: 180px;
    display: inline-block;
    margin: 0px 2% 0px 5%;
}
.member_photo{
    border-radius: 15px;
    height:270px;
}
.name{
    text-align: center;
    font-family: 楷体;
    font-size: x-large;
}
.year{
    display: inline-block;
    text-align: left;
    font-size: x-large;
    color:lightgray;
    vertical-align: top;
    width: 2em;
}
.member_sub{
    margin-bottom: 5%;
}
.postgraduate_member_list{
    width:75%;
    list-style: none;
    display: inline-block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    vertical-align: top;
}
.postgraduate_member_list_item{
    font-size: x-large;
    font-family: 楷体;
    display: inline-block;
    margin-left: 2%;
    width:4em;
}
.postgraduate_year{
    margin: 0px 0px 2% 0px;
}
.member_card_wrap{
    margin: 0px 0px 0px 2%;
    width: 85%;
    display: inline-block; 
}