.img_wrap{
width: auto;
height: auto;
border: 1px dashed #ccc;
display: table-cell; 
vertical-align: middle;
text-align: center;
padding: 0% 2% 2% 2%;
}
.img_wrap img{
    width: 90%;
    height: auto;
}